@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

body {
  background-color: #1a1a1a;
  font-family: "Quicksand";
}

* {
  padding: 0;
  margin: 0;
}
.container {
  margin: 25vh auto 0 auto;
  background-color: #2a2a2a;
  padding: 15px 0;
  border: 1px solid #ffffff1e;
  border-radius: 10px;
  max-width: 600px;
  box-shadow: 0 0 180px #ffffff1e;
}
input {
  display: block;
  width: 95%;
  background-color: rgba(0, 0, 0, 0.3);
  color: #f8f9fa;
  box-sizing: border-box;
  margin: 10px auto 0 auto;
  border-radius: 5px;
  border: 0;
  padding: 12px;
}
input::placeholder {
  color: #ffffff50;
  font-size: 12px;
}
input:focus {
  outline: 2px solid #ffffff1e;
  box-shadow: 0 1px 10px #ffffff10;
}


button {
  display: block;
  margin: 10px auto 0 auto;
  border-radius: 5px;
  background: none;
  color: #f8f9fa;
  border: 1px solid #ffffff1e;
  padding: 10px 15px;
  cursor: pointer;
}
button:hover {
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
button:active {
  transform: translateY(1px);
  box-shadow: 0 3px 7px rgba(0,0,0,.2);
}

.filter {
  display: flex;
  justify-content: space-between;
  max-width: 400px;
  margin: 10px auto 0 auto;  
}
a {
  text-align: center;
  text-decoration: none;
  padding: 10px;
  background: #2a2a2a;
  border: 1px solid #ffffff1e;
  border-radius: 5px;
  color: #f8f9fa;
  width: 85px;
  margin-bottom: 10px;
}
.active {
  background: #f8f9fa;
  border-radius: 5px;
  color: #1a1a1a;
  transition: .3s ease-out;
  box-shadow: 0 0 12px #f8f9fa80;
}
.todo {
  list-style: none;
  text-align: center;
  box-sizing: border-box;
  width: 95%;
  padding: 8px;
  margin: 10px auto 0 auto;
  background-color: #212121;
  color: #f8f9fa;
  border-radius: 5px;
  border: 1px solid #ffffff1e;
  animation: moveLeft .2s ease-out;
  cursor: pointer;
}
@keyframes moveLeft{
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(10px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}


