@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
html {
  font-size: 10px;
}
body {
  background-color: #1a1a1a;
  font-family: "Quicksand";
  font-size: 16px;
}

* {
  padding: 0;
  margin: 0;
}

@media (max-width: 800px) {
  html {
    font-size: 8px;
  }
  body {
    font-size: 14px;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 5px;
  }
  body {
    font-size: 8px;
  }
}
.container {
  margin: 25vh auto 0 auto;
  background-color: #2a2a2a;
  padding: 1.5rem 0;
  border: .1rem solid #ffffff1e;
  border-radius: 1rem;
  max-width: 60rem;
  box-shadow: 0 0 18rem #ffffff1e;
}
input {
  display: block;
  width: 95%;
  background-color: rgba(0, 0, 0, 0.3);
  color: #f8f9fa;
  box-sizing: border-box;
  margin: 1rem auto 0 auto;
  border-radius: .5rem;
  border: 0;
  padding: 1.2rem;
}
input::placeholder {
  color: #ffffff50;
  font-size: 1.2rem;
}
input:focus {
  outline: .2rem solid #ffffff1e;
  box-shadow: 0 .1rem 1rem #ffffff10;
}


button {
  display: block;
  margin: 1rem auto 0 auto;
  border-radius: .5rem;
  background: none;
  color: #f8f9fa;
  border: .1rem solid #ffffff1e;
  padding: 1rem 1.5rem;
  cursor: pointer;
  font-size: inherit;
}
button:hover {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
}
button:active {
  transform: translateY(.1rem);
  box-shadow: 0 .3rem .7rem rgba(0,0,0,.2);
}

.filter {
  display: flex;
  justify-content: space-between;
  max-width: 40rem;
  margin: 1rem auto 0 auto;  
}
a {
  text-align: center;
  text-decoration: none;
  padding: 1rem;
  background: #2a2a2a;
  border: .1rem solid #ffffff1e;
  border-radius: .5rem;
  color: #f8f9fa;
  width: 8.5rem;
  margin-bottom: 1rem;
}
.active {
  background: #f8f9fa;
  border-radius: .5rem;
  color: #1a1a1a;
  transition: .3s ease-out;
  box-shadow: 0 0 1.2rem #f8f9fa80;
}
.todo {
  list-style: none;
  text-align: center;
  box-sizing: border-box;
  width: 95%;
  padding: .8rem;
  margin: 1rem auto 0 auto;
  background-color: #212121;
  color: #f8f9fa;
  border-radius: .5rem;
  border: .1rem solid #ffffff1e;
  animation: moveLeft .2s ease-out;
  cursor: pointer;
}
@keyframes moveLeft{
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(1rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}


